header .lang .ar {
    margin-left: 8px;
}
header .top_links
{
	margin-left: 26px;
}
header .mobile_nav .sidenav {
	right: -290px;
}
header .mobile_nav .sidenav.over_mob
{
	right: 0;
}
header .mobile_nav .list > span
{
	right: 7px;
}
header .mobile_nav .sidenav .closebtn {
	left: 20px;
}
.bootstrap-select.btn-group .dropdown-toggle .filter-option
{
    text-align: right;
}
.categories .bootstrap-select>.dropdown-toggle:after
{
	left: 16px;
}
header .search_cat .searchbox
{
	border-right: 1px solid #e6e6e6;
}
header .search_icon
{
    left: 7px;
}
header .recomend .fa-user-circle,header .recomend .fa-shopping-basket
{
	margin-left: 8px;
}
header .my_account
{
	margin-left: 13px;
}
header .shopping > .fa
{
	margin-left: 8px;
}
.sidenav .mob_cat .mob_menu 
{
    padding-right: 70px;
}
.sidenav .sub_cat_menu 
{
    padding-right: 50px;
}
.down_nav .title > .fa
{
	margin-left: 16px;
}
.down_nav .demo .sub:after
{
	content: "\f104";
	left: 17px;
}
.demo .sub_list
{
	right: 258px;
}
header .nav_bar
{
	margin-right: 12px;
}
header .social > a
{
	margin-right: 4px;
}
.content .col-md-offset-3
{
	margin-right: 23.7%;
}
.pro .price .current
{
	margin-right: 6px;
}
.join .form-group .check
{
	left: 5px;
}







@media (max-width: 1199px) and (min-width: 992px)
{
	.demo .sub_list
	{
		right: 205px;
	}
	.content .col-md-offset-3 {
    margin-right: 23%;
	}
}



@media(max-width:991px)
{
	.content .col-md-offset-3
	{
		margin-right: 0;
	}
}


